rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(uid, email) {
      return (uid == "user-unique-id" && email == "beccaqwaterson@gmail.com") ||
             (uid == "owM9kxvXLLadr4lR0KkgifJRJda2" && email == "j.r.locke20@gmail.com");
    }

    match /markers/{markerId} {
      allow read: if true;
      allow update: if request.auth != null && 
                    (request.auth.uid == resource.data.createdBy || 
                    isAdmin(request.auth.uid, request.auth.token.email)) &&
                    request.resource.data.dismissedBy == resource.data.dismissedBy + [request.auth.uid];
    }

    match /paths/{pathId} {
      allow read: if true;
      allow update: if request.auth != null && 
                    (request.auth.uid == resource.data.createdBy || 
                    isAdmin(request.auth.uid, request.auth.token.email)) &&
                    request.resource.data.dismissedBy == resource.data.dismissedBy + [request.auth.uid];
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /tags/{tagId} {
      allow read: if request.auth != null; // Allow reading tags
      allow write: if request.auth != null; // Allow writing new tags
    }

    match /pins/{pinId} {
      // Allow read to all authenticated users
      allow read: if request.auth != null;

      // Allow creation by authenticated users
      allow create: if request.auth != null;

      // Allow updates and deletions only by the creator of the pin
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
    }

    match /markers/{markerId} {
      allow read, write: if request.auth != null;
    }

    match /paths/{pathId} {
      allow read, write: if request.auth != null;
    }
  }
}