@import 'leaflet/dist/leaflet.css';

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Graduate', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4B2E22; /* Darker brown text for contrast */
  background-color: #F6EFE9; /* Light beige for a soothing background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F6EFE9; /* Light beige background */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #4B2E22;
}

button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: .8rem;
  transition: background-color 0.3s ease;
  font-family: 'Graduate', sans-serif;
}