rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(uid, email) {
      return (uid == "user-unique-id" && email == "beccaqwaterson@gmail.com") ||
             (uid == "owM9kxvXLLadr4lR0KkgifJRJda2" && email == "j.r.locke20@gmail.com");
    }

    match /markers/{markerId} {
      allow read: if true;
      allow create: if request.auth != null; // Any logged-in user can create
      allow update, delete: if request.auth != null && 
                             (request.auth.uid == resource.data.createdBy || isAdmin(request.auth.uid, request.auth.token.email));
    }

    match /paths/{pathId} {
      allow read: if true;
      allow create: if request.auth != null; // Any logged-in user can create
      allow update, delete: if request.auth != null && 
                             (request.auth.uid == resource.data.createdBy || isAdmin(request.auth.uid, request.auth.token.email));
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /tags/{tagId} {
      allow read: if request.auth != null; // Allow reading tags
      allow write: if request.auth != null; // Allow writing new tags
    }

    match /pins/{pinId} {
      allow read, write: if request.auth != null;
    }
  }
}